Django>=5.2.9
gunicorn>=23.0.0
pillow>=12.0.0
pymysql>=1.1.1
python-dotenv>=1.2.1
google-generativeai>=0.8.3
django-allauth>=65.0.0
django-jazzmin>=3.0.0
whitenoise>=6.8.0
django-cors-headers>=4.6.0
dj-database-url>=2.3.0
psycopg2-binary>=2.9.10
PyJWT>=2.8.0
requests>=2.31.0
cryptography>=42.0.0
openai>=1.0.0
