{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up | HealthTrack+{% endblock %}

{% block content %}
<div id="root" data-page="Register"></div>

{% if debug %}
<script type="module">
    import RefreshRuntime from 'http://localhost:5173/static/dist/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
</script>
<script type="module" src="http://localhost:5173/static/dist/@vite/client"></script>
<script type="module" src="http://localhost:5173/static/dist/src/main.tsx"></script>
{% else %}
<link rel="stylesheet" href="{% static 'dist/assets/main.css' %}?v={% now 'U' %}">
<script type="module" src="{% static 'dist/assets/main.js' %}?v={% now 'U' %}"></script>
{% endif %}
{% endblock %}