{% extends 'base.html' %}
{% load static %}

{% block title %}Profile | HealthTrack+{% endblock %}

{% block content %}
<div id="root" data-page="Profile"></div>

<script id="profile-data" type="application/json">
    {
        "csrf_token": "{{ csrf_token }}",
        "user": {
            "first_name": "{{ request.user.first_name|escapejs }}",
            "last_name": "{{ request.user.last_name|escapejs }}",
            "email": "{{ request.user.email|escapejs }}",
            "phone": "{{ request.user.phone|default:''|escapejs }}",
            "city": "{{ request.user.city|default:''|escapejs }}",
            "blood_group": "{{ request.user.blood_group|default:''|escapejs }}",
            "address": "{{ request.user.address|default:''|escapejs }}",
            "emergency_contact": "{{ request.user.emergency_contact|default:''|escapejs }}",
            "emergency_phone": "{{ request.user.emergency_phone|default:''|escapejs }}"
        },
        "messages": [
            {% for message in messages %}
            {
                "tags": "{{ message.tags|escapejs }}",
                "message": "{{ message|escapejs }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    }
</script>

{% if debug %}
<script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
</script>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.tsx"></script>
{% else %}
<link rel="stylesheet" href="{% static 'dist/assets/main.css' %}">
<script type="module" src="{% static 'dist/assets/main.js' %}"></script>
{% endif %}
{% endblock %}