{% extends 'base.html' %}
{% load static %}

{% block title %}Provider Dashboard | HealthTrack+{% endblock %}
{% block body_class %}dashboard-page{% endblock %}

{% block content %}
<div id="root"
    data-page="{% if request.user.provider_profile.provider_type == 'doctor' %}DoctorDashboard{% else %}ProviderDashboard{% endif %}">
</div>

{% if debug %}
<script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
</script>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.tsx"></script>
{% else %}
<link rel="stylesheet" href="{% static 'dist/assets/main.css' %}?v={% now 'U' %}">
<script type="module" src="{% static 'dist/assets/main.js' %}?v={% now 'U' %}"></script>
{% endif %}
{% endblock %}